.containerr {
  width: 1440px;
  padding: 0 10px;
  margin: 0 auto;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.box {
  margin-top: 20px;
  margin-bottom: 25px;
}
.box-item {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  padding: 0;
}
.box-link {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #6e7191;
  img {
    width: 174.22px;
    height: 68.68px;
  }
}
.karzina {
  //   display: flex;
  text-align: center;
  i {
    font-size: 27px;
  }
}
.katalog {
  background: #f56e1e;
  border-radius: 12px;
  padding: 13px 38px;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: #fcfcfc;
  i {
    padding-left: 10 px;
  }
}
.search {
  position: relative;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #a0a3bc;
  input {
    width: 708px;
    height: 54px;
    background: #ffffff;
    border: 1px solid #a0a3bc;
    border-radius: 12px;
    padding-left: 12px;
  }
  i {
    position: absolute;
    padding-top: 18px;
    margin-left: -37px;
    font-size: 20px;
  }
}

.box2 {
  padding: 0;
  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-content: space-between;
}

.box-item2 {
  padding: 0;
  list-style: none;
  .box-link2 {
    font-style: normal;
    font-weight: 700;
    font-size: 9px;
    line-height: 11px;
    padding: 8px 12.5px;
    color: #a0a3bd;
    width: 174px;
    height: 28px;
    background: #f1f1f1;
    border-radius: 40px;
  }
}
.box-item3 {
  list-style: none;
  .box-link3 {
    img {
      width: 80px;
      height: 30px;
      margin-left: -30px;
    }
  }
}
.box-item4 {
  list-style: none;
  display: flex;
  gap: 20px;
  .box-link4 {
    font-weight: 700;
    font-size: 14px;
    line-height: 30px;
    color: #6e7191;
    margin-left: 35px;
  }
}
.box-item5 {
  list-style: none;
  display: flex;
  gap: 20px;
  .box-link5 {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 30px;
    color: #f56e1e;
    i {
      color: #a0a3bc;
      transform: rotate(-90deg);
    }
  }
  .but {
    width: 164px;
    height: 30px;
    background: #f56e1e;
    border-radius: 8px;
    color: #ffffff;
    padding-left: 12px;
    padding-right: 10px;
    i {
      padding-right: 8px;
    }
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  outline: none;
}

button {
  background-color: transparent;
  border: none;
}

.catalog {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 180px;
  height: 54px;
  background: #f56e1e;
  border-radius: 12px;
  color: #fff;
}
.catalog img {
  margin-right: 5px;
}

input {
  width: 100%;
  padding: 12px;
  gap: 191px;
  height: 54px;
  background: #ffffff;
  border: 1px solid #a0a3bc;
  border-radius: 12px;
}

p {
  margin-bottom: 0;
}

ul {
  list-style-type: none;
  width: 100%;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 0;
  justify-content: space-between;
}

li {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 30px;
  color: #6e7191;
}

.row {
  padding: 16px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.row:last-child {
  padding: 10px 0;
}

.col-2 {
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.col-3,
.col-4 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.col-3 {
  justify-content: space-between;
}

.nav-text {
  text-align: center;
  font-style: normal;
  font-weight: 700;
  font-size: 9px;
  line-height: 11px;
  color: #a0a3bd;
  background: #f1f1f1;
  border-radius: 40px;
  padding: 8px 8px 9px;
  gap: 4px;
}

.number {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 30px;
  color: #f56e1e;
}

.call-btn {
  padding: 0px 12px;
  gap: 8px;
  background: #f56e1e;
  border-radius: 8px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 30px;
  /* identical to box height, or 214% */
  color: #ffffff;
}

section {
  padding: 12px;
}

.home {
  text-align: center;
}

.categories__title {
  margin-top: 58px;
  margin-bottom: 30px;
}
.categories .row {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: space-between;
}
.categories .col-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background: #f1f1f1;
  border-radius: 20px;
  padding: 24px 22px;
  width: 209px;
  height: 204px;
}
.categories .col-2 h3 {
  margin-top: 22px;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #4e4b66;
  cursor: pointer;
}
.categories .col-2 h3:hover {
  color: #f56e1e;
}
